<figure class="kudo kudoable" data-id="post" data-uid="unique_post_id">
    <a class="kudobject">
        <div class="opening"><div class="circle">&nbsp;</div></div>
    </a>
    <a href="#kudo" class="count">
        <span class="num">0</span>
        <span class="txt">Kudos</span>
        <span class="dontmove">Don't move!</span>
    </a>
</figure>

  <link href="https://example.com/btn/kudos.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://example.com/btn/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://example.com/btn/jquery.cookie.js"></script>
<script type="text/javascript" src="https://example.com/btn/kudos.js"></script>
<script type="text/javascript" src="https://example.com/btn/kudo.js"></script>
